.errorContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    color: black;
    text-transform: capitalize;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.5;
    text-align: center;
}
.errorWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.errorWrapper > button{
    padding: 5px 20px;
}